<%- include partials/header -%>

<h1>Home</h1>

<% for (let i = 0; i < posts.length; i++) { %>
  <p><%= posts[i].title %> </p> 
  <p><%= posts[i].content %> </p>
<% } %>

<%- include partials/footer -%>